
h1, p {
    text-align: center;
}

h2 {
    text-align: center;
    color: blue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    color: rgb(33, 178, 42);
}

a:active {
    color: brown;
}

footer {
    text-align: center;
}

body {
    background-color: aquamarine;
    margin: 0 auto; 
    max-width: 1200px; 
}

div {
    border: 1px solid brown; 
}

html {
    background-repeat: no-repeat; 
    background-image: url('imagenes/la-nevería.webp'); 
    background-size: cover; 
    color: black;
}
